html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  height: 100vh;

  display: flex;

  justify-content: center;
  align-items: center;

  background-color: #4d4d4d;
}
canvas {
  display: block;
  border: 5px solid rgb(126, 126, 126);
  border-radius: 5px;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
